body {background-color: Lightyellow;}
h1 {background-color: orange;text-align:center; }
h2{background-color: pink;
color:white;text-align:center;}
h3{background-color: white ;color:pink;
}
img{width:50%;
  display:block;
  margin:0 auto;}
#jumbo{width:100%;
  
